* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: hsl(0, 33%, 95%);
    color: hsl(199, 46%, 25%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5vh 0;
}

img {
    width: 100%;
}

.heading {
    font-size: 22px;
    font-weight: 500;
    cursor: default;
    text-align: center;
}

body,
.container,
.app {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app {
    flex-direction: column;
    animation: fadein 300ms forwards 5s;
}

/* error handler */
.hidden {
    display: none;
}

.error {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    animation: fadein 300ms forwards 5s;
    height: 250px;
    padding: 0 100px;
}

.error span,
.error button {
    font-size: 20px;
    font-size: 20px;
    color: hsl(199, 46%, 25%);
}

.error .message {
    font-weight: 500;
    font-style: italic;
    color: hsl(12, 100%, 50%);
}

.button {
    margin-top: 20px;
    padding: 5px 0;
    outline: none;
    border: none;
    box-shadow: none;
    background-color: hsl(0, 33%, 95%);
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: hsl(0, 61%, 81%);
}

/* location selector */
#location-selector {
    margin-bottom: 30px;
    padding: 2px 20px;
    border-radius: 5px;
    cursor: default;
    width: 220px;
    text-align: center;
    z-index: 10;
    transition-property: background-color height;
    transition-duration: 150ms;
}

#location-selector:hover {
    background-color: hsl(0, 33%, 85%);
}

#location-selector span {
    font-weight: 500;
}

/* condition */
.condition {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 45px;
}

/* main info section */
.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.temperature {
    margin-top: 20px;
    text-align: center;
}

.text-large {
    font-size: 40px;
    font-weight: 700;
    cursor: default;
}

/* extra info section */
.extra-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 120px;
}

.humidity,
.wind-speed {
    display: flex;
    align-items: center;
}

.extra-info .img {
    width: 30px;
}

.text {
    margin-left: 20px;
    font-weight: 600;
    font: clamp('8px, 10% , 16px');
    cursor: default;
}

/* forecasts */
.forecast-container {
    display: flex;
    flex-flow: row no-wrap;
    margin-top: 15px;
}

.forecast {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 120px;
    padding: 5px 10px;
}

.forecast .img {
    flex-basis: 100%;
    margin-bottom: 5px;
}

.forecast .text {
    margin-left: 0;
    text-align: center;
}

.day .text {
    font-weight: 500;
}

@media (max-width: 460px) {
    body .condition {
        flex-direction: column;
        padding: 2vh 0;
        overflow-y: scroll;
    }

    .main-info {
        margin-top: 20px;
        margin-bottom: 10px;
        flex-direction: row;
        align-items: center;
    }

    .extra-info .img {
        width: 25px;
    }

    .forecast .text {
        font-size: clamp(8px, 15%, 16px);
    }

    .temperature {
        margin-top: 0;
        margin-left: 20px;
    }

    .text-large {
        font-size: 30px;
    }

    .heading {
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    .forecast-container {
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px 20px;
    }

    .forecast {
        flex: 0 1 25%;
    }
}

/* spinner */
.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: hsl(0, 33%, 95%);
}

.spinner .spinner-icon {
    width: 50px;
    animation: spin 3s ease-in-out infinite;
}

.spinner.fade {
    animation: fadeout 50ms linear 5500ms forwards;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        display: none;
    }
}

@keyframes fadeout {
    from {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    to {
        top: 50vh;
        left: 50vw;
        width: 0;
        height: 0;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
